# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
venv/
.venv/
env/
ENV/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# Environment / Secrets
# ==============================
.env
.env.*
!.env.example

# ==============================
# Data
# ==============================
data/raw/*
data/processed/*
*.csv
*.pcap
*.pcapng

# ==============================
# Machine Learning Models
# ==============================
models/*.pkl
models/*.joblib
models/*.h5
models/*.keras

# ==============================
# Logs
# ==============================
logs/
*.log

# ==============================
# Streamlit
# ==============================
.streamlit/secrets.toml

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Operating System
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Temporary Files
# ==============================
*.tmp
*.temp
*.bak